.tama-screen {
    //height:314px;
    //width: 330px;
    height:107px;
    width: 207px;
    position: absolute;
    top:52%;
    // top:59%
    left: 50%;
    transform: translate(-50%,-50%);    
}