
.tama-nav-menu {
    height:314px;
    width: 330px;
    position: absolute;
    top:59%;
    left: 50%;
    transform: translate(-50%,-50%);    
    border-radius:25px;
    background-image: url("../../assets/background.png"); 
   // background-repeat:no-repeat;
}