.tama-shell {
    height:910px;
    width: 638px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);   
    background-image: url("../assets/background-skin.png"); 
    background-position: -160px 121px;
    background-repeat:no-repeat;
}