<main class="main"> 
  <div class="content">
    <div class="tama-shell">
      <canvas #canvas_nav class="tama-nav-menu">
        <!--  
              top menu options [feed, light, play, medicine]
              bottom menu options [duck, health meter, discipline, attention]
        -->
      </canvas>
      <canvas #canvas class="tama-screen">
        <!-- 
              tama "screen" / animations
        -->
      </canvas>
      <button class="tama-button-1" (click)="selectMenu()"></button>
      <button class="tama-button-2" (click)="confirmMenu()"></button>
      <button class="tama-button-3" (click)="cancelMenu()"></button>
    </div>
  </div>
</main>