
.tama-nav-menu {
    height:314px;
    width: 330px;
    position: absolute;
    top:59%;
    left: 50%;
    transform: translate(-50%,-50%);    
    border-radius:25px;
    background-image: url("assets/background.png"); 
   // background-repeat:no-repeat;
}
.tama-screen {
    height:314px;
    width: 330px;
    position: absolute;
    top:59%;
    left: 50%;
    transform: translate(-50%,-50%);    
   border-radius:25px;
}

.tama-button {
    height:65px;
    width: 65px;
    position: absolute;
    transform: translate(-50%,-50%);   
    background: url("assets/background-skin.png"); 
    background-position: -19px -5px;
    border: none;
}

.tama-button:hover {
    @extend .tama-button; 
    background-position: -89px -5px;
    border: none;
    cursor:pointer;
}

.tama-button-1{
    @extend .tama-button;
    top:85%;
    left: 30%;
}

.tama-button-2{
    @extend .tama-button;
    top:90%;
    left: 50%;
}

.tama-button-3 {
    @extend .tama-button;
    top:85%;
    left: 70%;
}